<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">

</head>
<body>

        <div class="baner" id="baner" name="baner">
            <h1>Login </h1>
            <h2>The Best Login Expirience you will ever have</h2>
            <br>
            
        </div>
    
    
</body>
</html> 