<!-- ranking.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Ranking Page</title>
</head>
<body>
    <div class="userInfo" id="userInfo" name="userInfo">
        <h1><%= content.msg %></h1>
    </div>
    <div class="rankingTable" id="rankingTable">
        <div class="rankImg"  id="rankImg">
            <img src="/ranking.png">
        </div>
        <table id="rankTable">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Successful Logins</th>
                </tr>
            </thead>
            <tbody>
                <% for (let i = 0; i < content.table.length; i++) { %>
                    <tr>
                        <td><%= content.table[i].name %></td>
                        <td><%= content.table[i].entrenceCounter %></td>
                        
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div> 

    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js" integrity="sha384-mZLF4UVrpi/QTWPA7BjNPEnkIfRFn4ZEO3Qt/HFklTJBj/gBOV8G3HcKn4NfQblz" crossorigin="anonymous"></script>
    <script>
        const socket = io('http://localhost:8080' );

            socket.on('connect' , () => 
            {
                console.log('Client connected');
            })
        
        // Example: Receive an update event from the server
        socket.on('updateEvent', (data) => {
            updateTableContent(data)
        });

        function updateTableContent(data) {
            const tableBody = document.querySelector('#rankTable');
            tableBody.innerHTML = ''; // Clear existing rows

            const headerRow = document.createElement('tr');
            headerRow.innerHTML = `
                <th>User</th>
                <th>Successful Logins</th>
            `;
            tableBody.appendChild(headerRow);

            data.forEach(rowData => {
                const row = document.createElement('tr');
                row.innerHTML = `
                    <td>${rowData.name}</td>
                    <td>${rowData.entrenceCounter}</td>
                `;
                tableBody.appendChild(row);
            });
        }

        
        
    </script>
</body>
</html>
