<!-- ranking.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Ranking Page</title>
</head>
<body>
    <div class="topBar" id="topBar" name="topBar">
        <button id="logOff" name ="logOff">log off</button>


    </div>
    <div class="userInfo" id="userInfo" name="userInfo">
        <h1><%= content.msg %></h1>
    </div>
    <div class="rankingTable" id="rankingTable">
        <div class="rankImg"  id="rankImg">
            <img src="/ranking.png">
        </div>
        <table id="rankTable">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Successful Logins</th>
                </tr>
            </thead>
            <tbody>
                <% for (let i = 0; i < content.table.length; i++) { %>
                    <tr>
                        <td><%= content.table[i].name %></td>
                        <td><%= content.table[i].entrenceCounter %></td>
                        
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div> 

    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js" ></script>
    <script>
        const socket = io('http://localhost:8080' );

            socket.on('connect' , () => 
            {
                document.console.log('Client connected');
                document.cookie = "USR=; expires=Thu, 01 Jan 1970 00:00:00 UTC;";
            
            })
        
        
        socket.on('updateEvent', (data) => {
            updateTableContent(data)
            console.log('data: ', data )
        });

        function updateTableContent(data) {
            const tableBody = document.querySelector('#rankingTable');
            tableBody.innerHTML = ''; 
            const headerRow = document.createElement('tr');
            headerRow.innerHTML = `
                <th>User</th>
                <th>Successful Logins</th>
            `;
            tableBody.appendChild(headerRow);

            data.forEach(rowData => {
                const row = document.createElement('tr');
                row.innerHTML = `
                    <td>${rowData.name}</td>
                    <td>${rowData.entrenceCounter}</td>
                `;
                tableBody.appendChild(row);
            });
        }


        const logOffButton = document.getElementById('logOff');

        logOffButton.addEventListener('click', function(event) {
            event.preventDefault();
            console.log('log Off');


            document.cookie = "TC=; expires=Thu, 01 Jan 1970 00:00:00 UTC;";
            
            window.location.href = '/login';
        });

        function updateTableContent(data) {
            const tableBody = document.querySelector('#rankTable');
            tableBody.innerHTML = ''; 

            const headerRow = document.createElement('tr');
            headerRow.innerHTML = `
                <th>User</th>
                <th>Successful Logins</th>
            `;
            tableBody.appendChild(headerRow);

            data.forEach(rowData => {
                const row = document.createElement('tr');
                row.innerHTML = `
                    <td>${rowData.name}</td>
                    <td>${rowData.entrenceCounter}</td>
                `;
                tableBody.appendChild(row);
            });
        }

        
        
    </script>

</body>
</html>
