
body {
    background-color: black;
    margin: auto
    ;
}

#baner {
    margin-top: 5%;
    color: greenyellow;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#topBar {
    background: linear-gradient(to bottom, #444, #110f0fc4); 
    padding: 10px;
    text-align: right;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    padding-right: 5%;
}
.topBar.a {
    margin-right: 3%;
    height: 8%;
}

#userInfo {
    margin-top: 5%;
    color: greenyellow;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 50%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    width: 50%; 
}



#rankingTable{
    color: greenyellow;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#rankImg{

    margin-top: 5%;
}

th {
    height: 30px; /* Adjust the height of the header row as needed */
}
